<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attandance</title>
    <link rel="stylesheet" href="attandance.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="mainblock">
        <div class="mb-1">
            <div class="menu">
                <div class="image">
                  <img src="university.jpg" alt="loading" class="uni-img">
                </div>
            <p class="user">User Id: 41222019</p>
            <div class="collepse">
                    <a class="s-1" href="#">
                        <span><img width="20" height="21" src="https://img.icons8.com/color/48/dashboard-layout.png" alt="dashboard-layout" class="icon-1"/></span>
                        DASHBOARD
                    </a>
            </div>
            <!-- --------- -->
            <div class="collepse">
                <details  class="d-1">
                    <summary class="s-1" name="summary">
                        <span><img width="23" height="23" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-attendance-human-resources-flaticons-lineal-color-flat-icons.png" alt="external-attendance-human-resources-flaticons-lineal-color-flat-icons"
                        class="icon-1"/></span>
                        ATTANDENCE  
                    </summary>
                    <a href="#" class="collepse-a-1">ATTANDENCE</a>
                    <a href="#" class="collepse-a-1">COURSE TIMETABLE</a>
                </details>
            </div>
            <!-- -------------- -->
            <div class="collepse">
                <details  class="d-1">
                    <summary class="s-1" name="summary">
                        <span><img width="21" height="22" src="https://img.icons8.com/officel/16/class.png" alt="class"  class="icon-1"/></span>
                        CLASSES 
                    </summary>
                    <a href="#" class="collepse-a-1">COURSE</a>
                    <a href="#" class="collepse-a-1">SYLLABUS</a>
                </details>
            </div>
            <!-- ---------------- -->
            <div class="collepse">
                <details  class="d-1">
                    <summary class="s-1" name="summary">
                        <span><img width="24" height="24" src="https://img.icons8.com/fluency/48/training.png" alt="training"  class="icon-1"/></span>
                        LIBRARY  
                    </summary>
                    <a href="#" class="collepse-a-1">BOOKS</a>
                    <a href="#" class="collepse-a-1">DUE</a>
                </details>
            </div>
            <!-- ---------------- -->
            <div class="collepse">
                <details  class="d-1">
                    <summary class="s-1" name="summary">
                        <span><img width="24" height="24" src="https://img.icons8.com/fluency/48/online-payment-.png" alt="online-payment-" class="icon-1"/></span>
                        PAYMENT  
                    </summary>
                    <a href="#" class="collepse-a-1">FEES</a>
                    <a href="#" class="collepse-a-1">DUE</a>
                </details>
            </div>
            <!-- ---------------- -->
            <div class="signout">
                <button class="btn-sign">Sign Out</button>
            </div>
            </div>
        </div>
  <!-- ---------------------------moudle 2 -----------------------------------       -->
        <div class="mb-2">
            <nav class="navigate">
                <h1 class="welcome">Welcome Student !</h1>
                <div class="profile">
                    <i class='bx bx-search-alt-2 icon-notifi'></i>
                    <i class='bx bxs-bell bx-flip-horizontal icon-notifi' ></i>
                    <img src="photo.png" alt="loading" class="prof">
                </div>
            </nav>
<!-- -------------------------- body module for attandance ---------------------              -->
            <div class="body">
                <div class="topic">
                    <span class="tp-1">Student's attandance</span>
                        <form action="#">
                            <input type="date" class="input-date">
                            <button class="date-btn"><i class='bx bx-search-alt-2 icon-notifi date-search'></i></button>
                        </form>
                </div>
                <div class="table-div">
                    <table class="table table-striped ">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Course</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Theory</th>
                            <th scope="col">Practical</th>
                            <th scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Data science</td>
                            <td>2h</td>
                            <td>-</td>
                            <td><img width="20" height="20" src="https://img.icons8.com/emoji/48/check-mark-emoji.png" alt="check-mark-emoji"/></td>
                            <td><button type="button" class="btn btn-success">present</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Cloud computing</td>
                            <td>2h</td>
                            <td><img width="20" height="20" src="https://img.icons8.com/emoji/48/check-mark-emoji.png" alt="check-mark-emoji"/></td>
                            <td>-</td>
                            <td><button type="button" class="btn btn-danger">Absent</button></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Cyber security</td>
                            <td>2h</td>
                            <td>-</td>
                            <td><img width="20" height="20" src="https://img.icons8.com/emoji/48/check-mark-emoji.png" alt="check-mark-emoji"/></td>
                            <td><button type="button" class="btn btn-success">present</button></td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Cloud computing</td>
                            <td>2h</td>
                            <td><img width="20" height="20" src="https://img.icons8.com/emoji/48/check-mark-emoji.png" alt="check-mark-emoji"/></td>
                            <td>-</td>
                            <td><button type="button" class="btn btn-danger">Absent</button></td>
                          </tr>                          <tr>
                            <th scope="row">5</th>
                            <td>English communication</td>
                            <td>2h</td>
                            <td><img width="20" height="20" src="https://img.icons8.com/emoji/48/check-mark-emoji.png" alt="check-mark-emoji"/></td>
                            <td>-</td>
                            <td><button type="button" class="btn btn-danger">Absent</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>