        <!-- --------------------------------------------------- ? -->
        <footer class="navi">
          <div class="downnavi">
            <span class="navi-span " id="navispan1"><i class='bx bxs-dashboard navicon'  id="icn1"></i></span>
            <span class="navi-span " id="navispan2"><i class='bx bxs-hand navicon' id="icn2"></i></span>
            <span class="navi-span " id="navispan3"><i class='bx bxs-news navicon' id="icn3"></i></span>
            <span class="navi-span " id="navispan4"><i class='bx bx-user-pin navicon' id="icn4" ></i></span>
            <span class="navi-span " id="navispan5"><i class='bx bxs-book-content navicon' id="icn5"></i></span>
            <span class="navi-span " id="navispan6"><i class='bx bx-money-withdraw navicon' id="icn6"></i></span>
            <span class="navi-span " id="navispan7"><i class='bx bx-log-out navicon' id="icn7"></i></span>
          </div>
        </footer>
        <!-- --------------------------------------------------------- ? -->