@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('../common.css');
/* -----------------------attandance module  ----------------------------  */
.topic{
    /* border: 2px solid red; */
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 18px;
    display: flex;
    /* justify-content: space-around; */
    box-sizing: border-box;
    align-items: center;
}
.tp-1{
    /* border: 2px solid red; */
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:22px;
    color: #010c2c;
}
.student-div{
    /* border: 2px solid maroon; */
    height: 78%;
    display: flex;
    flex-direction: column;
}
.stlist{
    /* border: 2px solid green; */
    margin-top: 5px;
}
#stlist1{
    height: 100%;
}
#stlist2{
    height: 10%;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
    align-items: center;
    /* display: flex; */
    /* align-items: center; */
}
.addstudent{
    /* border: 2px solid red; */
    padding: 0px 5px 0px 5px;
    margin-right: 4px;
}
.addstd{
    width: 30px;
    height: 30px;
}
.form-std{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    display: none;
}
.input-form{
    height: 30px;
    width: 205px;
    padding: 0px 5px 0px 5px ;
    border-radius: 7px;
    border: 1px solid rgba(11, 11, 11, 0.216);
    font-size: 14px;
    outline: none;
}
.input-form:focus{
    border: 1px solid rgba(0, 0, 0, 0.863);
        box-shadow: 0.1px 0.1px 2px  rgba(0, 0, 0, 0.73), 
                   -0.1px -0.1px 2px rgba(0, 0, 0, 0.646);
}
#input-form-btn{
    width: 60px;
    color: white;
    background-color: #0d6efd;
    border: 1px solid #004cbf;
}
#input-form-btn:active{
    background-color: #0d6dfdc1;
    border: 1px solid #02409d;
}
.pop-msg{
    position: relative;
    width: 99%;
    margin-left: 3px ;
    border: 2px solid rgb(255, 51, 0);
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: rgba(250, 5, 37, 0.212); 
    margin: 0px 2px 0px 0px;
}
.duplicacy{
    text-align: center;
    /* border: 2px solid blue; */
    position: relative;
    height: 20px;
    width: 300px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(70, 5, 5);
}
.msg-button{
    position: absolute;
    right: 3px;
    background-color: transparent;
    border: none;
    font-size: 22px;
    color: rgb(70, 5, 5);

}
.dlt{
    display: flex;
}
.dlt-btn{
    border: none;
}
@media (min-height:400px) and (max-height:650px) {           /*100%*/
    .std-icon{
        height: 45px;
        width: 45px;
    }
    .addstd{
        width: 28px;
        height: 28px;
    }
    .add-btn{
        width: 22px;
        height: 22px;
    }
    .addstudent{
        padding: 0px 5px 0px 5px;
        display: none;
    }
    .form-std{
        height: 100%;
        /* display: none; */
    }
    .input-form{
        height: 25px;
        width: 160px;
        font-size: 13px;
    }
    .delete-icon{
        height: 22px;
        width: 22px;
    }

}
@media (min-height:650px) and (max-height:719px) {             /*90%*/
    .std-icon{
        height: 45px;
        width: 45px;
    }
    .addstd{
        width: 28px;
        height: 28px;
    }
    .add-btn{
        width: 22px;
        height: 22px;
    }
    .addstudent{
        padding: 0px 5px 0px 5px;
        display: none;
    }
    .form-std{
        height: 100%;
        /* display: none; */
    }
    .input-form{
        height: 25px;
        width: 180px;
        font-size: 13px;
    }
    .delete-icon{
        height: 24px;
        width: 24px;
    }
}